.main_navbar .navbar{
    padding: 16px;
}

.main_navbar .navbar-nav li{
    padding-left: 20px;
}

.main_navbar .navbar-text{
    color: white !important;
    letter-spacing: 0.3px;
}

.main_navbar .navbar-text a:hover{
    text-decoration: none;
    cursor: pointer;
}

.main_navbar ul li.dropdown:hover div.dropdown-menu {
    display: block;
}

.main_navbar nav{
    z-index: 2;
}
