{% extends "layout.html" %}
{% block content %}
<div id="design_div">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar_contents">
                <div class="sidebar-header">
                    <h3>
                        <a class="nav-link">My Projects</a>
                    </h3>
                    <hr>
                </div>
                <ul class="list-unstyled components sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("projects")}}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("photography")}}">Photography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("graphic")}}">Digital Art</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for("design")}}">Banner Design</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <div class="container-fluid">
                 <button type="button" id="sidebarCollapse" class="btn btn-dark">
                     <i class="fas fa-align-left"></i>
                 </button>
                <header class="gallery_header">
                    <h1>
                        <span>Banner </span> Design
                    </h1>
                </header>

                <main class="banner_designs">

                    <section class="banner_card">
                        <a href="{{ url_for("static", filename = "images/banner_bubble_tea.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/banner_bubble_tea.jpg")}}" alt="">
                        </a>
                    </section>

                    <section class="banner_card" data-aos="fade-right">
                        <a href="{{ url_for("static", filename = "images/banner_study_break.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/banner_study_break.jpg")}}" alt="">
                        </a>
                    </section>

                    <section class="banner_card" data-aos="fade-left">
                        <a href="{{ url_for("static", filename = "images/banner_asian_food.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/banner_asian_food.jpg")}}" alt="">
                        </a>
                    </section>

                    <section class="banner_card" data-aos="fade-right">
                        <a href="{{ url_for("static", filename = "images/banner_asian_snacks.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/banner_asian_snacks.jpg")}}" alt="">
                        </a>
                    </section>

                    <section class="banner_card" data-aos="fade-left">
                        <a href="{{ url_for("static", filename = "images/banner_gim.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/banner_gim.jpg")}}" alt="">
                        </a>
                    </section>

                    <section class="banner_card" data-aos="fade-right">
                        <a href="{{ url_for("static", filename = "images/public_speaking.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/public_speaking.jpg")}}" alt="">
                        </a>
                    </section>
                    

                </main>

            </div>
        </div>
    </div>
</div>
{% endblock content%}