{% extends "layout.html" %}
{% block content %}
<div id="graphic_div">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar_contents">
                <div class="sidebar-header">
                    <h3>
                        <a class="nav-link">My Projects</a>
                    </h3>
                    <hr>
                </div>
                <ul class="list-unstyled components sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("projects")}}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("photography")}}">Photography</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for("graphic")}}">Digital Art</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("design")}}">Banner Design</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-dark">
                    <i class="fas fa-align-left"></i>
                </button>
                <header class="gallery_header">
                    <h1>
                        <span>Digital </span> Art
                    </h1>
                </header>

                <main class="graphic_gallery">

                    <section class="gallery_card">
                        <a href="{{ url_for("static", filename = "images/vertical_violin.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/horizontal_violin.jpg")}}" alt="">
                        </a>
                        <div>
                            <h3>The Musician's Mind</h3>
                            <p class="violin">
                                - The left side of the violin depicts the musician's physical instrument, while the
                                right side of the violin represents the musician's mind and his interpretation of the
                                piece
                            </p>
                            <p class="violin">
                                - Inspired by Symphony No. 5 in D Minor, Op. 47: IV. Allegro non troppo
                                by Dmitri Shostakovich
                            </p>
                            <p class="violin">
                                - Created using Adobe Illustrator and Photoshop
                            </p>
                        </div>
                    </section>

                    <section class="gallery_card" data-aos="fade-right">
                        <a href="{{ url_for("static", filename = "images/chameleon.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/chameleon.jpg")}}" alt="">
                        </a>
                        <div>
                            <h3>Master of Disguise</h3>
                            <p>
                                - Honorable Mention for Excellence in Visual Arts - Scholastic Art Award (2017)
                            </p>
                            <p>
                                - Created using Adobe Illustrator
                            </p>
                        </div>
                    </section>

                    <section class="gallery_card" data-aos="fade-left">
                        <a href="{{ url_for("static", filename = "images/warwick.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/warwick.jpg")}}" alt="">
                        </a>
                        <div>
                            <h3>The Uncaged Wrath</h3>
                            <p>
                                - Recreation of Warwick, a character from League of Legends
                            </p>
                            <p>
                                - Created using Adobe Illustrator
                            </p>
                        </div>
                    </section>

                    <section class="gallery_card" data-aos="fade-right">
                        <a href="{{ url_for("static", filename = "images/zed.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/zed.jpg")}}" alt="">
                        </a>
                        <div>
                            <h3>The Master of Shadows</h3>
                            <p>
                                - Recreation of Zed, a character from League of Legends
                            </p>
                            <p>
                                - Created using Adobe Illustrator
                            </p>
                        </div>
                    </section>

                    <section class="gallery_card" data-aos="fade-left">
                        <a href="{{ url_for("static", filename = "images/snake.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/snake.jpg")}}" alt="">
                        </a>
                        <div>
                            <h3>Society's Venom</h3>
                            <p class="snake">
                                - This image is a physical representation of the monster that is words of hate and
                                criticism in media
                            </p>
                            <p class="snake">
                                - Created using Adobe Illustrator and Photoshop
                            </p>
                        </div>
                    </section>

                    <section class="gallery_card" data-aos="fade-right">
                        <a href="{{ url_for("static", filename = "images/earth.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/earth.jpg")}}" alt="">
                        </a>
                        <div>
                            <h3>Our Planet</h3>
                            <p>
                                - This image represents the state of the earth and addresses issues such as pollution
                                and how humans treat our planet
                            </p>
                            <p>
                                - Created using Adobe Illustrator
                            </p>

                        </div>
                    </section>

                    <section class="gallery_card" data-aos="fade-left">
                        <a href="{{ url_for("static", filename = "images/unity.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/unity.jpg")}}" alt="">
                        </a>
                        <div>
                            <h3>Unity</h3>
                            <p>
                                - Displayed in the Peace and Hope Exhibition at the United Nations New York (2016)
                            </p>
                            <p>
                                - Created using Adobe Illustrator
                            </p>
                        </div>
                    </section>

                    <section class="gallery_card" data-aos="fade-right">
                        <a href="{{ url_for("static", filename = "images/comfort_women.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/comfort_women.jpg")}}" alt="">
                        </a>
                        <div>
                            <h3>The Face of Sorrow</h3>
                            <p class="comfort_women">
                                - Grand Prize (NJ Senator Award) for The Peace and Freedom Art Competition
                                in remembrance of "comfort women" (2015)
                            </p>
                            <p class="comfort_women">
                                - She was treated as an animal, a tool used for her enemy's greed.
                                Despite the suffering she had to endure, there are butterflies to represent the
                                hope for freedom beyond the barbed wires trapping her in
                            </p>
                        </div>
                    </section>

                    <section class="gallery_card" data-aos="fade-left">
                        <a href="{{ url_for("static", filename = "images/nasus.jpg")}}" data-lightbox="mygallery">
                             <img src="{{ url_for("static", filename = "images/nasus.jpg")}}" alt="">
                        </a>
                        <div>
                            <h3>The Curator of the Sands</h3>
                            <p>
                                - Recreation of Nasus, a character from League of Legends
                            </p>
                            <p>
                                - Created using Adobe Illustrator
                            </p>
                        </div>
                    </section>


                </main>
            </div>
            <div class="project-footer"></div>
        </div>
    </div>
</div>
{% endblock content%}