{% extends "layout.html" %}
{% block content %}
    <div id="home_slides" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#home_slides" data-slide-to="0" class="active"></li>
            <li data-target="#home_slides" data-slide-to="1"></li>
            <li data-target="#home_slides" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
                <img src={{ url_for("static", filename = "images/Slide1.jpg")}} class="d-block w-100" alt="First">
                <div id="caption1" class="carousel-caption d-none d-md-block">
                    <h1>Joshua Choi</h1>
                </div>
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src={{ url_for("static", filename = "images/Slide2.jpg")}} class="d-block w-100" alt="Second">
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src={{ url_for("static", filename = "images/Slide3.jpg")}} class="d-block w-100" alt="Third">
                <div id="caption2" class="carousel-caption d-none d-md-block">
                    <h2>Computer Science</h2>
                    <hr>
                    <h2>Digital Media Studies</h2>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#home_slides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#home_slides" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="about_me">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet, his ad minimum principes, te mei mucius semper persecuti, postea feugait definitionem vim an. Ea paulo nemore utamur cum, nec elitr dicant propriae ne, et per soleat legere vocent. Mea ad putant eirmod sensibus. Ex his porro possim, his possim everti diceret eu. Dicta iriure tractatos duo cu, elitr mediocritatem mea in. Cibo vocibus qui ad.
                        Mei iuvaret petentium cotidieque ea, mei autem impedit ceteros ad. Legimus copiosae volutpat in nam. Facer elaboraret ullamcorper mei ei. Eum labore tacimates no. Nam cetero detracto cu. Ea soleat epicuri mel, tantas aliquid eu sed. Usu ea omnis perpetua recteque.
                        Duo aliquip blandit voluptatibus id, essent oblique reprehendunt ex pro. Qui an dolorem mandamus definiebas, eu explicari consequat deterruisset nam. Vim mutat albucius eu, iriure complectitur eu usu, nam te ludus probatus deserunt. Ne etiam labores vivendum has, causae euismod quo te, id omnis dolorum imperdiet vix. Est solum reprehendunt eu. Pri perpetua sapientem adolescens ex.
                        An mea diam lucilius, ea sea partem verear. An vis debitis fabellas, nibh eirmod ut his. Ut has odio atomorum theophrastus, et utinam possit interesset duo. Malorum splendide vel cu, ne ipsum tation eirmod nam. Modus equidem te nam, id eos ipsum graecis theophrastus. Mutat quodsi nam id.
        </p>
    </div>
    <div class="buttons">
        <a href="https://github.com/JChoi54" target="_blank" class="button-link">GitHub</a>
        <a href="https://github.com/JChoi54" target="_blank" class="button-link">LinkedIn</a>
        <a href="https://github.com/JChoi54" target="_blank" class="button-link">Email</a>
    </div>

    <div class="footer"></div>


{% endblock content%}