{% extends "layout.html" %}
{% block content %}
    <div id="home_slides" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#home_slides" data-slide-to="0" class="active"></li>
            <li data-target="#home_slides" data-slide-to="1"></li>
            <li data-target="#home_slides" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
                <img src={{ url_for("static", filename = "images/Slide1.jpg")}} class="d-block w-100" alt="First">
                <div id="caption1" class="carousel-caption d-none d-md-block">
                    <h1>Joshua Choi</h1>
                </div>
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src={{ url_for("static", filename = "images/Slide2.jpg")}} class="d-block w-100" alt="Second">
            </div>
            <div class="carousel-item" data-interval="5000">
                <img src={{ url_for("static", filename = "images/Slide3.jpg")}} class="d-block w-100" alt="Third">
                <div id="caption2" class="carousel-caption d-none d-md-block">
                    <h2>Computer Science</h2>
                    <hr>
                    <h2>Digital Media Studies</h2>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#home_slides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#home_slides" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="about_me">
        <h1>About</h1>
        <p>
            Hi, I’m Joshua Choi, a junior currently attending the University of Rochester in New York. I’m pursuing
            a double major in computer science and digital media studies with a special interest in web development and
            digital art. I am a very visually-oriented person and enjoy doing graphic art and photography in my free
            time. I’ve been using Adobe Illustrator and Photoshop for a few years and love creating anything that is
            visually appealing. I took my first programming classes in college, and although I enjoyed them, I felt that
            there was something missing – I found myself wanting more than just the countless lines of code on my
            screen. However, my view on programming completely changed when I took Web Programming, and I
            loved that I was able to incorporate my passion for art into my code to create something I could
            look at and interact with. It was exciting watching how different lines of code changed the layout of a
            website or the way a user could interact with it. Through web design and front-end web development, I hope
            to incorporate both my digital art skills and my computer science knowledge to create something that
            people will enjoy.
        </p>
    </div>
    <div class="buttons">
        <div class="buttons-space">
            <a href="https://github.com/JChoi54" target="_blank" class="button-link">GitHub</a>
        </div>
        <div class="buttons-space">
            <a href="https://www.linkedin.com/in/joshua-choi-38b0391a1/" target="_blank" class="button-link">LinkedIn</a>
        </div>
        <div class="email-dropdown buttons-space">
            <a href="#" class="button-link">Email</a>
            <ul>
                <li><a href="mailto:hijoshuachoi@gmail.com">Personal</a></li>
                <li><a href="mailto:jchoi84@u.rochester.edu">School</a></li>
            </ul>
        </div>


    </div>

    <div class="footer"></div>


{% endblock content%}