{% extends "layout.html" %}
{% block content %}
<div id="project_div">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar_contents">
                <div class="sidebar-header">
                    <h3>
                        <a class="nav-link">My Projects</a>
                    </h3>
                    <hr>
                </div>
                <ul class="list-unstyled components sidebar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for("projects")}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("arduino")}}">Arduino</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("photography")}}">Photography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("graphic")}}">Graphic Design</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-dark">
                     <i class="fas fa-align-left"></i>
                </button>
                <div class="projects_header">
                    <h1>My <span>Projects</span></h1>
                </div>
                <div class="projects_fixed_image">
                    <div class="fixed_image1">
                        <h1 class="project_title"> Arduino </h1>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, his ad minimum principes, te mei mucius semper persecuti, postea feugait definitionem vim an. Ea paulo nemore utamur cum, nec elitr dicant propriae ne, et per soleat legere vocent. Mea ad putant eirmod sensibus. Ex his porro possim, his possim everti diceret eu. Dicta iriure tractatos duo cu, elitr mediocritatem mea in. Cibo vocibus qui ad.
                        Mei iuvaret petentium cotidieque ea, mei autem impedit ceteros ad. Legimus copiosae volutpat in nam. Facer elaboraret ullamcorper mei ei. Eum labore tacimates no. Nam cetero detracto cu. Ea soleat epicuri mel, tantas aliquid eu sed. Usu ea omnis perpetua recteque.
                        Duo aliquip blandit voluptatibus id, essent oblique reprehendunt ex pro. Qui an dolorem mandamus definiebas, eu explicari consequat deterruisset nam. Vim mutat albucius eu, iriure complectitur eu usu, nam te ludus probatus deserunt. Ne etiam labores vivendum has, causae euismod quo te, id omnis dolorum imperdiet vix. Est solum reprehendunt eu. Pri perpetua sapientem adolescens ex.
                        An mea diam lucilius, ea sea partem verear. An vis debitis fabellas, nibh eirmod ut his. Ut has odio atomorum theophrastus, et utinam possit interesset duo. Malorum splendide vel cu, ne ipsum tation eirmod nam. Modus equidem te nam, id eos ipsum graecis theophrastus. Mutat quodsi nam id.
                        Lorem ipsum dolor sit amet, his ad minimum principes, te mei mucius semper persecuti, postea feugait definitionem vim an. Ea paulo nemore utamur cum, nec elitr dicant propriae ne, et per soleat legere vocent. Mea ad putant eirmod sensibus. Ex his porro possim, his possim everti diceret eu. Dicta iriure tractatos duo cu, elitr mediocritatem mea in. Cibo vocibus qui ad.
                        Mei iuvaret petentium cotidieque ea, mei autem impedit ceteros ad. Legimus copiosae volutpat in nam. Facer elaboraret ullamcorper mei ei. Eum labore tacimates no. Nam cetero detracto cu. Ea soleat epicuri mel, tantas aliquid eu sed. Usu ea omnis perpetua recteque.
                        Duo aliquip blandit voluptatibus id, essent oblique reprehendunt ex pro. Qui an dolorem mandamus definiebas, eu explicari consequat deterruisset nam. Vim mutat albucius eu, iriure complectitur eu usu, nam te ludus probatus deserunt. Ne etiam labores vivendum has, causae euismod quo te, id omnis dolorum imperdiet vix. Est solum reprehendunt eu. Pri perpetua sapientem adolescens ex.
                        An mea diam lucilius, ea sea partem verear. An vis debitis fabellas, nibh eirmod ut his. Ut has odio atomorum theophrastus, et utinam possit interesset duo. Malorum splendide vel cu, ne ipsum tation eirmod nam. Modus equidem te nam, id eos ipsum graecis theophrastus. Mutat quodsi nam id.
                    </p>
                    <div class="fixed_image2">
                        <h1 class="project_title"> Photography </h1>
                    </div>
                     <p>
                        Lorem ipsum dolor sit amet, his ad minimum principes, te mei mucius semper persecuti, postea feugait definitionem vim an. Ea paulo nemore utamur cum, nec elitr dicant propriae ne, et per soleat legere vocent. Mea ad putant eirmod sensibus. Ex his porro possim, his possim everti diceret eu. Dicta iriure tractatos duo cu, elitr mediocritatem mea in. Cibo vocibus qui ad.
                        Mei iuvaret petentium cotidieque ea, mei autem impedit ceteros ad. Legimus copiosae volutpat in nam. Facer elaboraret ullamcorper mei ei. Eum labore tacimates no. Nam cetero detracto cu. Ea soleat epicuri mel, tantas aliquid eu sed. Usu ea omnis perpetua recteque.
                        Duo aliquip blandit voluptatibus id, essent oblique reprehendunt ex pro. Qui an dolorem mandamus definiebas, eu explicari consequat deterruisset nam. Vim mutat albucius eu, iriure complectitur eu usu, nam te ludus probatus deserunt. Ne etiam labores vivendum has, causae euismod quo te, id omnis dolorum imperdiet vix. Est solum reprehendunt eu. Pri perpetua sapientem adolescens ex.
                        An mea diam lucilius, ea sea partem verear. An vis debitis fabellas, nibh eirmod ut his. Ut has odio atomorum theophrastus, et utinam possit interesset duo. Malorum splendide vel cu, ne ipsum tation eirmod nam. Modus equidem te nam, id eos ipsum graecis theophrastus. Mutat quodsi nam id.
                        Lorem ipsum dolor sit amet, his ad minimum principes, te mei mucius semper persecuti, postea feugait definitionem vim an. Ea paulo nemore utamur cum, nec elitr dicant propriae ne, et per soleat legere vocent. Mea ad putant eirmod sensibus. Ex his porro possim, his possim everti diceret eu. Dicta iriure tractatos duo cu, elitr mediocritatem mea in. Cibo vocibus qui ad.
                        Mei iuvaret petentium cotidieque ea, mei autem impedit ceteros ad. Legimus copiosae volutpat in nam. Facer elaboraret ullamcorper mei ei. Eum labore tacimates no. Nam cetero detracto cu. Ea soleat epicuri mel, tantas aliquid eu sed. Usu ea omnis perpetua recteque.
                        Duo aliquip blandit voluptatibus id, essent oblique reprehendunt ex pro. Qui an dolorem mandamus definiebas, eu explicari consequat deterruisset nam. Vim mutat albucius eu, iriure complectitur eu usu, nam te ludus probatus deserunt. Ne etiam labores vivendum has, causae euismod quo te, id omnis dolorum imperdiet vix. Est solum reprehendunt eu. Pri perpetua sapientem adolescens ex.
                        An mea diam lucilius, ea sea partem verear. An vis debitis fabellas, nibh eirmod ut his. Ut has odio atomorum theophrastus, et utinam possit interesset duo. Malorum splendide vel cu, ne ipsum tation eirmod nam. Modus equidem te nam, id eos ipsum graecis theophrastus. Mutat quodsi nam id.
                    </p>
                    <div class="fixed_image3">
                        <h1 class="project_title"> Graphic Design </h1>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, his ad minimum principes, te mei mucius semper persecuti, postea feugait definitionem vim an. Ea paulo nemore utamur cum, nec elitr dicant propriae ne, et per soleat legere vocent. Mea ad putant eirmod sensibus. Ex his porro possim, his possim everti diceret eu. Dicta iriure tractatos duo cu, elitr mediocritatem mea in. Cibo vocibus qui ad.
                        Mei iuvaret petentium cotidieque ea, mei autem impedit ceteros ad. Legimus copiosae volutpat in nam. Facer elaboraret ullamcorper mei ei. Eum labore tacimates no. Nam cetero detracto cu. Ea soleat epicuri mel, tantas aliquid eu sed. Usu ea omnis perpetua recteque.
                        Duo aliquip blandit voluptatibus id, essent oblique reprehendunt ex pro. Qui an dolorem mandamus definiebas, eu explicari consequat deterruisset nam. Vim mutat albucius eu, iriure complectitur eu usu, nam te ludus probatus deserunt. Ne etiam labores vivendum has, causae euismod quo te, id omnis dolorum imperdiet vix. Est solum reprehendunt eu. Pri perpetua sapientem adolescens ex.
                        An mea diam lucilius, ea sea partem verear. An vis debitis fabellas, nibh eirmod ut his. Ut has odio atomorum theophrastus, et utinam possit interesset duo. Malorum splendide vel cu, ne ipsum tation eirmod nam. Modus equidem te nam, id eos ipsum graecis theophrastus. Mutat quodsi nam id.
                        Lorem ipsum dolor sit amet, his ad minimum principes, te mei mucius semper persecuti, postea feugait definitionem vim an. Ea paulo nemore utamur cum, nec elitr dicant propriae ne, et per soleat legere vocent. Mea ad putant eirmod sensibus. Ex his porro possim, his possim everti diceret eu. Dicta iriure tractatos duo cu, elitr mediocritatem mea in. Cibo vocibus qui ad.
                        Mei iuvaret petentium cotidieque ea, mei autem impedit ceteros ad. Legimus copiosae volutpat in nam. Facer elaboraret ullamcorper mei ei. Eum labore tacimates no. Nam cetero detracto cu. Ea soleat epicuri mel, tantas aliquid eu sed. Usu ea omnis perpetua recteque.
                        Duo aliquip blandit voluptatibus id, essent oblique reprehendunt ex pro. Qui an dolorem mandamus definiebas, eu explicari consequat deterruisset nam. Vim mutat albucius eu, iriure complectitur eu usu, nam te ludus probatus deserunt. Ne etiam labores vivendum has, causae euismod quo te, id omnis dolorum imperdiet vix. Est solum reprehendunt eu. Pri perpetua sapientem adolescens ex.
                        An mea diam lucilius, ea sea partem verear. An vis debitis fabellas, nibh eirmod ut his. Ut has odio atomorum theophrastus, et utinam possit interesset duo. Malorum splendide vel cu, ne ipsum tation eirmod nam. Modus equidem te nam, id eos ipsum graecis theophrastus. Mutat quodsi nam id.
                    </p>
                </div>
            </div>
            <div class="project-footer"></div>
        </div>
    </div>
</div>

{% endblock content%}