{% extends "layout.html" %}
{% block content %}
<div id="project_div">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar_contents">
                <div class="sidebar-header">
                    <h3>
                        <a class="nav-link">My Projects</a>
                    </h3>
                    <hr>
                </div>
                <ul class="list-unstyled components sidebar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for("projects")}}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("photography")}}">Photography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("graphic")}}">Digital Art</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("design")}}">Banner Design</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-dark">
                     <i class="fas fa-align-left"></i>
                </button>
                <div class="projects_header">
                    <h1>My <span>Projects</span></h1>
                </div>
                <div class="projects_fixed_image">
                    <div class="fixed_image1">
                        <h1 class="project_title"> Photography </h1>
                    </div>
                    <p>
                        During my freshman year of college, my friend bought a $700 DSLR camera for a photography class
                        he was taking. At the time, I didn’t know much about photography, and thought it was a waste of
                        money to buy such an expensive device just for taking photos when I could use my smartphone.
                        Sure, the quality of his digital camera was far better than the pictures on my phone, but in
                        the end, pictures were pictures, right? That’s what I thought while I watched my friend
                        walking around with his camera trying to look artsy. That’s what I thought before one boring
                        evening when I decided to pick up his camera and snap a few shots of my friend. I followed a
                        few people on Instagram who would edit their photos to make them look more aesthetic or
                        surreal, and thought I would try that with my friend’s face. Using Photoshop, I messed around
                        with different edits and instantly fell in love. I was intrigued by how much better a raw photo
                        could look with a few edits and also began to realize how creative I could get with a
                        photograph. From then on, I taught myself how to use Photoshop and used my friend’s camera to
                        take pictures whenever I could. I now own a NikonD5600.
                    </p>
                    <div class="fixed_image2">
                        <h1 class="project_title"> Digital Art </h1>
                    </div>
                     <p>
                        My passion for digital art began 6 years ago, when I started learning Adobe Illustrator back
                         in New Jersey. I enjoyed sketching as a kid and liked to design interesting creatures or
                         monsters. Doing something similar on a digital screen felt even easier and less time consuming.
                         Creating digital art came natural to me and I liked being able create anything that came to
                         mind. I created visual representations of ideas or issues around the world. I recreated
                         characters from videogames I enjoyed playing such as League of Legends. I created anything
                         interesting that came to mind really. I think that Illustrator is an amazing tool to know
                         because it allows me to visualize anything and easily create a digital replica. I also use
                         digital art to design interfaces for websites or create flyers, banners, and logos.
                    </p>
                    <div class="fixed_image3">
                        <h1 class="project_title_black"> Banner Design </h1>
                    </div>
                    <p>
                        During my freshman year, I joined the Society of Asian Scientists and Engineers (SASE), an
                         organization founded in 2007 to help Asian heritage scientific and engineering professionals
                         achieve their potential and success. While I was attracted to being part of a group that
                         celebrated diversity on campus and provided academic opportunities for its members, I wanted
                         to contribute further and introduce more people with these opportunities. So the next year, I
                         ran for the executive board and was elected as the Publicity Chair of the University of
                         Rochester (UR) SASE. As the Publicity Chair, I am responsible for all of UR SASE’s
                         advertisements, promotions, etc., both digital and physical, as well as marketing techniques
                         and the promotion of SASE branding. I manage SASE’s social media sites such as Instagram and
                         Facebook and create flyers for different events to put around campus. I also design and create
                         banners for the events that I post on UR SASE’s Facebook page.
                    </p>
                </div>
            </div>
            <div class="project-footer"></div>
        </div>
    </div>
</div>

{% endblock content%}